body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #FFEFD8
}

header {
  position: fixed;
  height: 100vh;
  width: 290px; /* Aumenta o espaço lateral */
  background: linear-gradient(180deg, #F7941D, #FFCC80);
  padding-top: 40px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Garante que fique na frente */
}

header h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 30px;
}

nav ul li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  transform-origin: left; /* Expande para a direita */
  z-index: 3; /* Garante que fique acima */
  position: relative; /* Necessário para z-index funcionar */
}

nav ul li a:hover {
  transform: scale(3);
  color: #000;
}
