/* ========== Small devices (≥600px) ========== */
@media (min-width: 600px) {
  .contato-title {
    font-size: 28px;
  }

  .contato-subtitle {
    font-size: 18px;
  }

  .contato h3 {
    font-size: 20px;
  }

  .contato p {
    font-size: 18px;
  }
}

/* ========== Medium devices (≥768px) ========== */
@media (min-width: 768px) {
  main {
    margin-left: 290px;
    /* Recuo igual à largura da navbar fixa */
    padding: 40px;
    width: calc(100% - 290px);
    /* Evita ultrapassar a tela */
  }

  .container {
    max-width: 800px;
    margin: auto;
  }

  .contato-title {
    font-size: 30px;
  }

  .contato-subtitle {
    font-size: 18px;
  }

  .contato {
    margin-bottom: 20px;
  }


  .contato:hover {
    background-color: #FFE0B2;
    box-shadow: 0 6px 16px rgba(255, 112, 67, 0.35);
  }

  .contato h3 {
    font-size: 24px;
  }

  .contato h3:hover {
    font-size: 26px;
  }

  .contato p {
    font-size: 20px;
  }
}

/* ========== Large devices (≥992px) ========== */
@media (min-width: 992px) {
  .container {
    max-width: 1000px;
    padding: 40px;
  }

  .contato-title {
    font-size: 32px;
  }

  .contato h3 {
    font-size: 26px;
  }

  .contato p {
    font-size: 20px;
  }
}

/* ========== Extra-Large devices (≥1300px) ========== */
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }

  .contato-title {
    font-size: 35px;
  }

  .contato-subtitle {
    font-size: 22px;
  }
}